venv/
Python Basics/Dummy Source/
Python Basics/Dummy Destination/
Python Basics/application_log.txt
Python Basics/simulation.pdf
Python Basics/books.db
Python Basics/books.csv
Python Basics/test.txt
Python Basics/today.txt